/* Estilos para el formulario y las listas */
.form-container {
    
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Títulos de los formularios */
.form-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #343a40;
    text-align: center;
}

/* Estilos para los elementos del formulario */
.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #343a40;
}

.form-input,
.form-select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    color: #495057;
    transition: border-color 0.3s ease;
}

.form-input:focus,
.form-select:focus {
    border-color: #80bdff;
    outline: none;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.form-button:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de agregar opción */
.add-option-button {
    display: block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-option-button:hover {
    background-color: #218838;
}

/* Estilos para la lista de elementos */
.form-list {
    list-style: none;
    padding: 0;
}

.form-list-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.header-orden, .header-pregunta, .header-sala {
    font-weight: bold;
    flex-basis: 50%;
}

.form-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ced4da;
}

.form-list-item:last-child {
    border-bottom: none;
}

.form-list-actions button {
    margin-left: 10px;
}

.form-edit-button {
    padding: 5px 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.form-edit-button:hover {
    background-color: #e0a800;
}

.form-delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.form-delete-button:hover {
    background-color: #c82333;
}
.btn-danger {
    margin-left: 5px;
}

/* Estilos para organizar los campos en una fila */
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group-half {
    flex: 1;
    margin-right: 10px;
}

.form-group-half:last-child {
    margin-right: 0;
}



.home-page .card {
    width: 25rem;
    
    background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.home-page .card:hover {
    transform: scale(1.05);
    background-color: rgb(10, 216, 103);
}



