.palabraContainer {
    color: gainsboro;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
        "my-25 my-1 my-2 my-3 my-4 my-5 my-6 my-7 my-8 my-9"
        "my-10 my-11 my-12 my-13 my-14 my-15 my-16 my-17 my-18 my-19"
        "my-20 my-21 my-22 my-23 centro my-0 my-26 my-27 my-28 my-29"
        "my-30 my-31 my-32 my-33 my-34 my-35 my-36 my-37 my-38 my-39"
        "my-40 my-41 my-42 my-43 my-44 my-45 my-46 my-47 my-48 my-49"
        "my-50 my-51 my-52 my-53 my-54 my-55 my-56 my-57 my-58 my-59"
        "my-60 my-61 my-62 my-63 my-64 my-65 my-66 my-67 my-68 my-69"
        "my-70 my-71 my-72 my-73 my-74 my-75 my-76 my-77 my-78 my-79"
        "my-80 my-81 my-82 my-83 my-84 my-85 my-86 my-87 my-88 my-89"
        "my-90 my-91 my-92 my-93 my-94 my-95 my-96 my-97 my-98 my-99"
}


.palabraItem {   
    
    text-align: center;
}

.centro {

    grid-area: centro   ;
}
.vertical {
    /* Para palabras que deben estar dispuestas verticalmente */
    writing-mode: vertical-rl;
    /* Modo de escritura vertical de derecha a izquierda */
}

.horizontal {
    writing-mode: horizontal-tb;
}