/* CredentialCard.css */
.credential-card {
    
    padding: 20px;
    width: 900px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .credential-logo {
    width: 100px;  /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    margin-bottom: 1rem;  /* Añade un poco de espacio debajo del logo */
  }
  
  .credential-title {
    margin-bottom: 1.5rem;
  }
  
  .credential-card p {
    color: #343a40;
    margin-bottom: 0.5rem;
  }
  
  .qr-code {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  