/* Estilo general para el contenedor de login */
.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
  }
  
  .login-container {
    width: 100%;
    max-width: 800px;
    height: 300px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
  }
  
  .login-container h1,
  .login-container h2 {
    margin-bottom: 1.5rem;
  }
  
  .login-container form {
    margin-top: 1rem;
  }
  
  .login-container input[type="text"],
  .login-container input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .login-container button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .login-container .credential {
    margin-top: 2rem;
  }
  
  .credential-card {
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .credential-logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .credential-title {
    margin-bottom: 1.5rem;
  }
  
  .credential-card p {
    color: #343a40;
    margin-bottom: 0.5rem;
  }
  
  .qr-code {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  