.scanner-container-wrapper-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.scanner-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
}

.btn-codigo {
    display: flex;
    flex-direction: row; /* Mantiene los elementos en fila */
    gap: 10px; /* Espacio entre el input y el botón */
    align-items: center; /* Centra los elementos verticalmente dentro de la fila */
   
    
    
   
}



.boton-login {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.credential-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.btn-codigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.form-control {
    width: 100% !important;
     /* Ajusta el ancho máximo del input */
    padding: 15px; /* Aumenta el padding para que el input sea más grande */
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
    border-radius: 5px; /* Añade un borde redondeado para mejorar la estética */
}

input:invalid {
    border-color: red;
}

input:focus:invalid {
    outline: none;
    box-shadow: 0 0 5px 1px red;
}

  

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {

    .scanner-container-wrapper-login {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 70vh;
    }
    .scanner-container {
        
        padding: 20px;
    }

    .btn-codigo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .credential .credential-card {
        width: 100%;
        padding: 10px;
    }

    input.form-control {
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
        padding: 12px; /* Reduce un poco el padding para pantallas pequeñas */
        max-width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    }
}
