/* client/src/componentes/Acreditaciones/Login.css */



.login-container-wrapper {
  display: flex;
  
  justify-content: flex-end; /* Alinea el contenedor a la derecha */
  align-content: flex-end;
  
  
  padding-right: 20px; /* Espacio a la derecha, opcional */
  overflow: hidden;
}

.login-container {
  height: 90vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.boton-login {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.login-container {
  width: 100%;
  margin-top: 20px;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.user-list-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}

.user-list-container .list-group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credential {
  display: flex;
  justify-content: center;
  text-align: center;
}

.qr-code {
  max-width: 100px;
  height: auto;
}