.scanner-container-wrapper {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  min-height: 100vh;       /* Asegura que el contenedor ocupe toda la altura de la pantalla */
}


.scanner-container {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.btn-reinicio-contenedor {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  color: black;

}
.restart-button {
  margin-top: 10px;
}


.video-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
}

.hidden {
  display: none !important; /* Oculta completamente el contenedor de video */
}


video {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.credential {
  text-align: center;
  margin-top: 20px;
}

.credential .credential-card {
  border: 1px solid black;
  padding: 20px;
  width: 300px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

.credential-logo {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.credential-title {
  margin-bottom: 1.5rem;
}

.credential-card p {
  color: #343a40;
  margin-bottom: 0.5rem;
}

.qr-code {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.boton-login {
  display: flex;
  justify-content: center; /* Centra el botón */
  margin-top: 10px;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .scanner-container {
    display: flex;
    flex-direction: column !important;
    padding: 10px;
  }

  .credential .credential-card {
    width: 100%;
    padding: 10px;
  }

  .credential-logo {
    width: 80px;
  }

  .credential-title {
    font-size: 1rem;
  }

  .qr-code {
    max-width: 150px;
  }
}
