/* Estilos generales */
.login-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

#login-container-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #c50d8e9c;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.692);
}

#h1-registro{
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#login-container-users input,
#login-container-users select {
    width: 80%;
    margin-bottom: 15px;
}

.boton-out {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

.boton-out .btn {
    margin: 20px;
    padding: 5px;
}

h1, h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
#usuarios-h2 {
    color: #fff !important;

}
#registrados {
    color: #03fa3c;
}

.form-control {
    font-size: 16px;
    padding: 10px;
}

#btn-register-user {
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

#btn-register-user:hover {
    background-color: #0056b3;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #007bff;
}

.user-credential {
    margin-top: 20px;
    text-align: center;
}

.credential-card {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

.credential-card p {
    margin-bottom: 10px;
    color: #495057;
}

.qr-code-admin {
    max-width: 7%;
    height: auto;
    margin-top: 15px;
}

.user-list-container {
    margin-top: 30px;
    width: 90vw;
    padding: 20px;
}

.list-group-item-admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item-admin p {
    color: #343a40;
}

.btn-success {
    font-size: 14px;
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}

/* Estilos Responsivos */

@media (max-width: 768px) {
    #login-container-users {
        width: 90%; /* Reduce el ancho en pantallas medianas */
    }

    form {
        width: 70%; /* Ajusta el ancho del formulario */
    }

    .list-group-item-admin {
        
        flex-direction: column; /* Elementos en columnas para pantallas pequeñas */
        align-items: center;
        text-align: center;
        padding: 15px;
        max-width: 300px;
        margin: 10px auto;
    }

    .qr-code-admin {
        max-width: 30%; /* Ajusta el tamaño del código QR en pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .login-container-wrapper {
        padding: 10px;
    }

    #login-container-users {
        width: 100%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
        margin-top: 10%;
        padding: 15px;
    }

    form {
        width: 90%; /* Asegura que el formulario se ajuste bien en móviles */
    }

    #login-container-users input,
    #login-container-users select {
        width: 100%; /* Inputs ocupan todo el ancho disponible */
    }

    .credential-card {
        max-width: 100%; /* La card también se ajusta al 100% */
        padding: 10px;
    }
    .list-group-admin {
        
        flex-direction: column; /* Elementos en columnas para pantallas pequeñas */
        align-items: center;
        text-align: center;
        padding: 0;
    }

    

    .list-group-item-admin {
        
        flex-direction: column; /* Elementos en columnas para pantallas pequeñas */
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .qr-code-admin {
        max-width: 30%; /* Ajusta el tamaño del código QR en pantallas pequeñas */
    }

    .boton-out {
        justify-content: center;
    }

    .btn-success {
        width: 100%; /* Botones ocupan todo el ancho */
    }
}
