/* UsersAcreditaciones.css */
.login-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    padding: 20px;
    

  }
  
  #login-container-1{
    width: 90vw;
    margin-top: 12%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
  }
  
  #login-container-1 input, #login-container-1 select {
    width: 50% !important;
  }
  
  .boton-out {
    display: inline-flex;
    
    justify-content: flex-end;
    width: 100%;
  }
  .boton-out .btn {
    margin: 20px;
    padding: 5px;
  }
  

h1, h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

.form-control {
    font-size: 16px;
    padding: 10px;
}

#btn-register-user {
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

#btn-register-user:hover {
    background-color: #0056b3;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #007bff;
}

.user-credential {
    margin-top: 20px;
    text-align: center;
}

.credential-card {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

.credential-card p {
    margin-bottom: 10px;
    color: #495057;
}

.qr-code-admin {
    max-width: 7%;
    height: auto;
    margin-top: 15px;
}

.user-list-container {
    margin-top: 30px;
    width: 1=90vw;
    padding: 20px;
}

.list-group-item-admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item-admin p {
    
    
    color: #343a40;
}

.btn-success {
    font-size: 14px;
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}

@media (max-width: 576px) {
    .login-container {
        padding: 20px;
    }

    #login-container-1 input, #login-container-1 select {
        width: 90% !important;
      }
    .list-group-item-admin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .qr-code-admin {
        max-width: 50%;
        height: auto;
        margin-top: 15px;
    }

    #btn-register-user, .btn-success {
        font-size: 16px;
        padding: 10px 15px;
    }

    .credential-card {
        padding: 15px;
    }

    .list-group-item {
        padding: 15px;
    }
}
