.App {
  height: 95vh;
}

.App .jumbotron {
  color: rgb(12, 11, 11);
}

.App img {
  height: 50px;
  width: 50px;
}

.App hr {
  background-color: #201111;
}

.nombre_marca {
  font-size: 15px;
  color: blue;
  font-weight: bolder;
}

.separador {
  width: 100%;
  height: 25px;
 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1200 120" preserveAspectRatio="none"><path d="M0,0 L600,120 L1200,0 Z" fill="%23eaeaea"></path></svg>');
  
  background-size: cover;
  
  background-color: blue;
  position: fixed;
  
  bottom: 0;
 
  left: 0;
 
  z-index: 999;
 
}


.nombre_marca {
  position: relative;
  transition: transform 0.2s ease;
}

.nombre_marca:active {

  transform: scale(0.96);
}

.nombre_marca::before,
.nombre_marca::after {
  content: '';
  position: absolute;
  height: 120%;
  width: 10%;


  left: 10%;
  transform: translateX(-30%);
  background-repeat: no-repeat;
}

.nombre_marca::before {
  top: 30%;
  left: 5%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%);
  background-size: 20% 20%, 50% 50%, 30% 30%, 25% 25%, 45% 45%, 40% 40%;
  background-position: 5% 90%, 10% 90%, 60% 10%, 80% 20%, 10% 10%, -10% 60%;

  animation: topBubbleEffect 8s ease-in-out infinite;

}

.nombre_marca::after {
  bottom: -50%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%);
  background-size: 20% 20%, 50% 50%, 30% 30%, 25% 25%, 45% 45%, 40% 40%;
  background-position: 30% 90%, 80% 90%, 90% 10%, 90% 20%, 20% 50%, 10% 90%;

  animation: topBubbleEffect 5s ease-in-out infinite;

}

@keyframes topBubbleEffect {
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 20% 50%, 10% 90%;
  }

  50% {
    transform: translateY(-20px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.contenedor-boton {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-top: 25px;
}

.boton {
  color: white;
  background-color: blue;

  width: max-content;
  height: max-content;


  text-align: center;

  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}




.boton:active {
  transform: scale(0.96);
}