/* index.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 90vh;
}

.home-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    min-height: 90vh;
    gap: 20px;
    padding: 20px;
}

.home-page .card {
    width: 25rem;
    
    background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.home-page .card:hover {
    transform: scale(1.05);
    background-color: rgb(10, 216, 103);
}

.home-page .card-body {
    
    text-align: center;
}

.home-page .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-page .card-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.home-page .btn {
    width: 100%;
}

.admin-link {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .home-page {
        flex-direction: column;
        padding: 10px;
    }

    .home-page .card {
        width: 100%;
        max-width: 300px;
    }
}
