.nav-container {
    width: 100%;
    background-color: #343a40;
}

.navbar {
    padding: 1rem;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #adb5bd;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #495057;
}
