.body-log {
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

}

.card {
    width: 25rem;
    margin-right: 80px;    
    background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
    background-color: rgb(10, 216, 103);
}


