/* RegisterForm.css */

.body-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.card-register {
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-register h2 {
    margin-bottom: 1.5rem;
}

.card-register .form-control {
    margin-bottom: 1rem;
}

.card-register .btn-primary {
    
    width: 100%;
}

.card-register .text-danger {
    margin-top: 1rem;
}

.restart-button-container{
    display: block;
}
.button-container {
    display: flex;
    justify-content: space-between; /* Separa los botones */
    margin-top: 20px; /* Espacio arriba de los botones */
}